@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24, 24;
    --background-end-rgb: 24, 24, 24;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-image: url('/lines-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@layer components {
  .btn-primary {
    @apply min-w-[155px] min-h-[45px] flex justify-center items-center bg-primary text-white text-2xl rounded-md shadow-sm shadow-[#00000070] dark:shadow-[#FFFFFF70];
  }
  .btn-primary-outline {
    @apply min-w-[155px] min-h-[45px] flex justify-center items-center bg-primary text-white text-2xl border border-white rounded-md shadow-sm shadow-[#00000070] dark:shadow-[#FFFFFF70];
  }
  .btn-primary-selected {
    @apply min-w-[155px] min-h-[45px] flex justify-center items-center bg-primary text-white text-2xl border-4 border-white rounded-md shadow-sm shadow-[#00000070] dark:shadow-[#FFFFFF70];
  }
}